.card{
    background-color: #ffff;
    width: 250px;
    padding: 10px;
    box-shadow: 10px 20px 30px #928686;
    position: relative;
}

.card img{
    width: 100%;
}
.card .top-price{
    background-color: blueviolet;
    color: #ffff;
    padding: 5px;
    display: inline-block;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    left: 0;
}
.del{
    text-decoration: line-through;
}